.circle {
    width: 450px;
    height: 450px;

    background: linear-gradient(to bottom, #f50505, #f093fb);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    border-radius: 61% 39% 64% 36% / 46% 36% 64% 54%;

    animation: circleRadius 4s alternate infinite;


    position: absolute;
    right: 2rem;
    bottom: 7rem;
    z-index: 1;

    @media (max-width: $beakpoint_xxl)  {
        right: 0;
        width: 400px;
    }

    @media (max-width: $beakpoint_xl)  {
        display: none;
    }
}

@keyframes circleRadius {
    0% {
        border-radius: 61% 39% 64% 36% / 46% 36% 64% 54%;
        transform: translate3d(0, 0, 0);
    }
    100% {
        border-radius: 31% 69% 42% 58% / 46% 36% 64% 54%;
        transform: translate3d(-100px, -100px, 0);
    }
}

