$white: #fff;
$pink: #ec3482;
$black: #121212;
$grey: #dbdbdb;
$grey_dark: #a1a1a1;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

/* Media */
$beakpoint_xxl: 1300px;
$beakpoint_xl: 1024px;
$beakpoint_md: 992px;
$beakpoint_sm: 575px;
$beakpoint_xsm: 340px;

// Bootstrap Modal
$transition-fade: all .3s linear;
$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;
